<p id="notice"><%= notice %></p>

<p>
  <strong>Wish:</strong>
  <%= @wish.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @wish.subcategory.category.name %>
</p>


<p>
  <strong>Subcategory:</strong>
  <%= @wish.subcategory.name %>
</p>



<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
