<p id="notice"><%= notice %></p>
<div class="category-holder">
	<h2><%= link_to @subcategory.category.name, category_path(@subcategory.category.id) %></h2>
</div>
<div class="subcategory-holder">
	<h3><%= @subcategory.name %></h3>
</div>
<div class="listing">
	<ul>
		<li>
			<ul>
				<% count = 0 %>
				<% until count >= @subcategory.items.length %>
					<div class="row">
					<% 4.times do %>
						<div id="item-container" class="col-md-3">
							<li class="image-container">
								<%= link_to(cl_image_tag(@subcategory.items[count -1].image), @subcategory.items[count -1 ]) %>
							</li>
							<li class="description-container">
								<%= @subcategory.items[count -1].name %>
							</li>
						</div>
					
					<% count +=1 %>
					<% end %>
					</div>
				<% end %>
			</ul>	 
		</li>

	</ul>

</div>
