<p id="notice"><%= notice %></p>
<div class="category-holder">
	<h2><%= link_to @subcategory.category.name, category_path(@subcategory.category.id) %></h2>
</div>
<div class="subcategory-holder">
	<h3><%= @subcategory.name %></h3>
</div>
<div class="listing">
	<ul>
		<li>
			<ul>
				<% @subcategory.items.each do |item| %>
					
					
						<div id="item-container" class="col-md-3">
							<li class="image-container">
								<%= link_to(cl_image_tag(item.image), item) %>
							</li>
							<li class="description-container">
								<%= item.name %>
							</li>
							<li class="description-container">
								<%= item.created_at.strftime "%e %B, %Y" %>
							</li>
							
						</div>
					
					
				<% end %>
			</ul>	 
		</li>

	</ul>

</div>
