<% if @current_user.present? %>


  <p id="notice"><%= notice %></p>


  <div id="currentItemID" style="display:none"><%= @item.id %></div>
  <h3>
  <strong>Name:</strong>
    <%= @item.name %>
  </h3>

  <%# Will show if the category is For Sale %>
  <% if @item.subcategory.category.name == 'for sale' %>

  <%# Will show if the subcategory is for cars+trucks/motorcycles/rvs+camp %>
  <p>
    <span id="show"><strong>Description:</strong> <%= @item.make %></span> <span id="show"><%= @item.make_type %></span> <span id="show"><strong>Year:</strong> <%= @item.make_year %></span>
  </p>
    
  <p>
    <span id="show"><strong>Transmission:</strong> <%= @item.transmission %></span>  <span id="show"><strong>Type:</strong> <%= @item.car_type %></span> <span id="show"><strong>Distance Travelled (km):</strong> <%= @item.odometer %></span>
  </p>
  <p>
    <span id="show"><strong>Fuel:</strong> <%= @item.fuel %></span>
  </p>

  <%# will show if subcategory is motorcycles %>
  <p>
    <span id="show"><strong>Engine Displacement (CC): </strong> <%= @item.engine_displacement %></span>
  </p>

  <%# will show if subcategory is boats %>
  <p>
    <span id="show"><strong>Propulsion Type: </strong> <%= @item.propulsion_type %></span> <span id="show"><strong>Length Overall (LOA)</strong> <%= @item.length_overall %></span>
  </p>

  <%# will show if subcategory is mobile phones %>
  <p>
    <span id="show"><strong>Operating System: </strong> <%= @item.mobile_os %></span>
  </p>

  <% end %>

  <%# Will show if the category is Housing %>
  <% if @item.subcategory.category.name == 'housing' %>
  <p>
    <span id="show"><strong>Type:</strong> <%= @item.housing_type %></span> <span id="show"><strong>Room(s):</strong> <%= @item.rooms %></span><span id="show"><strong>Bathroom(s):</strong> <%= @item.bathrooms %></span>
  </p>
  <% end %>

  <%# Will show if the category is Jobs %>
  <% if @item.subcategory.category.name == 'jobs' %>
  <p>
    <span id="show"><strong>Employment Type: </strong><%= @item.employment_type %></span><span id="show"><strong>Salary: </strong><%= @item.salary %></span>
  </p>
  <% end %>

  <% if @item.image %>
    <p><%= cl_image_tag(@item.image, :width=>200, :crop=>:thumb, :gravity=>:face, :effect=>"vibrance") %></p> 
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <% if @item.subcategory.category.name == 'housing' %>
    <p>
      <span id="show"><strong>Rent (per week):</strong>  <%= number_to_currency(@item.rent) %></span> <span id="show"><strong>Area (m2):</strong> <%= @item.area %></span> <span id="show"><strong>Available from:</strong> <%= @item.available %></span>
    </p>

    <p>
      <span id="show"><strong>Room:</strong> <%= @item.private_room %></span> <span id="show"><strong>Bathroom:</strong> <%= @item.private_bathroom %></span> <span id="show"><strong>Laundry:</strong> <%= @item.laundry %></span> <span id="show"><strong>Parking:</strong> <%= @item.parking %></span>
    </p>


    <p>
      <% if @item.pets? %>
        <strong>Pets:</strong> <i class="icon-dog"></i><i class="icon-cat"></i>
      <% end %>
      <% if @item.smoking? %>
        <strong>Smoking:</strong> <i class="icon-cigarette"></i>
      <% end %>
      <% if @item.furnished %>
        <strong>Furnished:</strong> <i class="icon-chair"></i>
      <% end %>
      <% if @item.wheelchair %>
        <strong>Wheelchair Accessible:</strong> <i class="icon-wheelchair"></i>
      <% end %>
    </p>

    <p>
      <% if @item.openhouse1? %>
        <ul>
          <li><%= @item.openhouse1 %></li>
          <li><%= @item.openhouse2 %></li>
          <li><%= @item.openhouse3 %></li>
        </ul>
      <% end %>
    </p>
  <% end %>

  <% if @item.subcategory.category == 'jobs' %>
    <% if @item.recruiter? %>
      <strong>Direct Contact by Recruiters: </strong><i class="icon-ok"></i>
    <% end %>
    <% if @item.internship? %>
      <strong>Internship:</strong> <i class="icon-ok">
    <% end %>
    <% if @item.non_profit? %>
      <strong>Non-profit Organisation:</strong> <i class="icon-ok"> 
    <% end %>
    <% if @item.telecommuting? %>
      <strong>Telecommuting permissible:</strong> <i class="icon-ok">
    <% end %>
    <% if @item.disability? %>
      <strong>Open for People with Disabilities:</strong> <i class="icon-ok">
    <% end %>
  <% end %>


  <% if @item.price? %>
    <p>
    <strong>Price:</strong>
    <%= number_to_currency(@item.price) %>
    </p>
    <% if @item.price >= 500 && @current_user != @item.user %>
      <%= form_tag buy_path(id: @item.id) do %>
      <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= @item.price * 100 %>"
          data-name="VDM"
          data-description="<%= @item.name %>"
          data-email="<%= @current_user.email %>">
        </script>

      <% end %>
    <% end %>


  <% end %>

  <% if @item.subcategory.category.name == 'for sale' %>
    <p>
      <span id="show"><strong>Dimensions: </strong> <%= @item.dimensions %></span> <span id="show"><strong>Serial Number:</strong> <%= @item.serial_number %></span> <span id="show"><strong> VIN:</strong> <%= @item.vin %></span>
    </p>
    <p>
      <span id="show"><strong>Colour:</strong> <%= @item.paint_colour %></span>
    </p>
    <p>
      <span id="show"><strong>Title Status: </strong> <%= @item.title_status %></span>
    </p>
    <p>
      <% if @item.garage_sale1? %>
        <ul>
          <li> Garage sale dates:
            <ul>
              <li><%= @item.garage_sale1 %></li>
              <li><%= @item.garage_sale2 %></li>
              <li><%= @item.garage_sale3 %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </p>
    <p>
      <span id="show"><strong>Starts:</strong> <%= @item.start_time %></span>
    </p>
    <p>
      <span id="show"><strong>Venue:</strong> <%= @item.venue %></span>
    </p>
    <p>
      <span id="show"><strong>Number of Tickets: </strong> <%= @item.tickets %></span>
    </p>
    <p>
      <span id="show"><strong>When's it on?</strong> <%= @item.event %></span>
    </p>
  <% end %>



  <p>
    <strong>Category:</strong>
    <%= @item.subcategory.category.name %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= link_to @item.subcategory.name, subcategory_path(@item.subcategory) %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @item.user.name %>
  </p>

  <p>
    <strong>Posted:</strong>
    <%= @item.created_at.strftime "%e %B, %Y" %>
  </p>

  <% if (@current_user == @item.user) %>

    <%= link_to 'Edit', edit_item_path(@item) %>

    <%= link_to 'Delete Item', @item, :method => 'delete', :data => {:confirm => "Are you sure you want to delete this?"} %>

  <% else %>


    <p>Contact: <%= link_to @item.user.email, new_conversation_path(:recipient_id => @item.user.id, :subject => @item.name) %></p>

  <% end %>

<%= form_for Bookmark.new do |f|  %>

<%= f.hidden_field :item_id, value: @item.id %>
<%= f.hidden_field :user_id, value: @current_user.id %>

<%= f.submit "bookmark this" %>
<% end %>

      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <script>
        function initialize() {
          var mapCanvas = document.getElementById('map');
          var mapOptions = {
            center: new google.maps.LatLng(-33.7969235,150.9224326),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(mapCanvas, mapOptions)

          var locations =[]
          locations.push({name:"Home", latlng: new google.maps.LatLng( <%= @current_user.latitude %>,<%= @current_user.longitude %>)});
          locations.push({name:"<%= @item.name %>", latlng: new google.maps.LatLng(<%= @item.latitude %>, <%= @item.longitude %>)});
          
          var bounds = new google.maps.LatLngBounds ();
          for(var i = 0 ; i<locations.length ; i++){
            var marker = new google.maps.Marker({position:locations[i].latlng, map:map, title:locations[i].name})
            bounds.extend (locations[i].latlng)
          }
          map.fitBounds(bounds)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>

    <% unless @current_user.id == @item.user_id %>
        <div id="map"></div>
    <% end %>
    
<% else %>

  <p>You need to have an account to view a post.</p>
  <p>Please <%= link_to 'Sign In', root_path %>, or <%= link_to 'Create an Account', new_user_path %>.</p>

<% end %>